# Any directory starting with a dot
**/\.*/
# Except .github
!.github/

# Everything in inputs/ and outputs/
outputs/*

# Misc
**/.DS_Store
**/__pycache__
venv/
OMRChecker.wiki/
opticalmarkrecognition-f7059-firebase-adminsdk-ytgau-c14ddee08f.json